body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f0f0f0;
    padding: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #f0f0f0;
    text-align: center;
}

.ferramenta {
    background-color: #444;
    border: 1px solid #555;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ferramenta textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #555;
    background-color: #444;
    color: #f0f0f0;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
    margin-top: 20px;
}

#data {
    width: 240px;
}

.ferramenta h2 {
    color: #ddd;
    margin-bottom: 10px;
}

.ferramenta input {
    width: 98%;
    padding: 10px;
    border: 1px solid #555;
    background-color: #555;
    color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ferramenta p {
    color: #bbb;
}

button {
    background-color: #555;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #ddd;
    background-color: #333;
}

table, th, td {
    border: 1px solid #555;
    padding: 8px;
}

th {
    background-color: #444;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #444;
}

#jsonViewer {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    color: #fff;
    font-family: 'roboto', sans-serif;
}

#jsonViewer .json-key {
    color: #f9c784;
}

#jsonViewer .json-string {
    color: #c6ff00;
}

#jsonViewer .json-number {
    color: #bd93f9;
}

#jsonViewer .json-boolean {
    color: #ff79c6;
}

#jsonViewer .json-null {
    color: #FF4500;
}

#jsonViewer .json-undefined {
    color: #1E90FF;
}

#jsonViewer .json-function {
    color: #FFD700;
}

#jsonViewer .json-literal {
    color: #1E90FF;
}

#jsonViewer .collapsed::before, #jsonViewer .expanded::before {
    font-size: 10px;
}

#jsonViewer .collapsed::before {
    content: "▶";
}

#jsonViewer .expanded::before {
    content: "▼";
}

#jsonViewer .json-toggle {
    cursor: pointer;
    font-size: 14px;
    color: #f9c784;
}

#entradaNumero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#ddiInput, #numeroInput {
    margin-right: 10px;
}

#ddiInput {
    width: 20px;
}

#numeroInput {
    width: 100px;
}

#mensagemInput {
    width: 100%;
    min-height: 50px;
    resize: vertical;
}

#colunasDropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    background-color: #444;
    color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}